[MASTER]
py-version = 3.12
jobs = 1
ignore-patterns = ^\.#
extension-pkg-allow-list = PySide6,PySide6QtAds

[FORMAT]
max-line-length = 120

[MESSAGES CONTROL]
disable = C0103,W0718,C0302,R0913,R0914,C0115,E0611

[DESIGN]
max-locals = 25
max-branches = 20

[VARIABLES]
good-names = i,j,k,ex,Run,_,e,f
